/* 헤더 메뉴바 색 */
.row1 {color: #4aa8d8; background-color: #FFFFFF;}
.row3 {color: #222222; background-color: #FFFFFF;}
.row4 {color: #CBCBCB; background-color: #4aa8d8;}
.splitclrs {
  color: #929292;
  background: linear-gradient(to right, #fff 0%,#Fff 50%,#FFFFFF 50%,#FFFFFF 100%);
}
.heading{
  color: #171414;
  font-weight: bold;
}
p{
  color: #171414;
}
.plus{
  float: right !important;
}
.list-table {
	width: 100%;
	margin-top: 40px;
}
.list-table thead th{
	height:40px;
	border-top:2px solid #09C;
	border-bottom:1px solid #CCC;
	font-weight: bold;
	font-size: 17px;
}
.list-table tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #CCC; height:20px;
	font-size: 14px
}
th {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#FFFFFF;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"] {
    color: inherit;
    background-color: #ffffff;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
td{
    color: #000000;
}
#page_num {
      font-size: 14px;
      margin-left: auto;
      display: flex;
      margin-top:30px;
      justify-content: center;
      
      
    }
    #page_num ul li {
      float: left;
      float:left;
      margin-left: 10px;
      text-align: center;
      
    }
    .fo_re {
      font-weight: bold;
    }
    #write_btn, .btn, .btn.inverse:hover {
    color: #FFFFFF;
    background-color: #05B3F2;
    border-color: #05B3F2;
    border-radius: 10px;
    background-clip: padding-box;
    }
    #wrarper{
      position: fixed;
      top:0px;
      background-color:white;
      width:1200px;

    }
    #search_box{
      display:flex;
    }
    .items{
      display:table;
    }
    .items > * {
      display:table-cell;
      vertical-align:middle;
      line-height: 30px;
    }
    a { 
		text-decoration:none !important;
		
		color:black;
	
	}